.App {
  margin: auto;
  width: 600px;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

header h1 {
  font-weight: normal;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
}

.input-field {
  background-color: #EFF2F9;
  border: none;
  border-radius: 7px;
  color: #6D7782;
  font-size: 26px;
  padding: 10px 15px;
}

textarea.input-field  {
  display: block;
  letter-spacing: 0.05rem;
  resize: none;
  width: 100%;
}

.button-wrapper {
  margin: 30px 0;
  text-align: center;
}

.button {
  color: #FFF;
  cursor: pointer;
  background: #0076FF;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  padding: 15px 20px;
  outline: none;
}

.error-message {
  font-weight: bold;
  font-size: 14px;
  color: red;
  margin-top: 15px;
}